{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{{asset('img/image.png')}}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">ESPRIT E-Learn</h5>
                                <h1 class="display-3 text-white animated slideInDown">La meilleure platforme d'enseignement en ligne!</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Votre source ultime d'éducation en ligne et de ressources scolaires, tout en un seul endroit.</p>
                                <a href="{{ path('app_registerChoices') }}" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Rejoignez nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="img/carousel-2.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">ESPRIT E-Learn</h5>
                                <h1 class="display-3 text-white animated slideInDown">Connectez-vous à l'excellence éducative : </h1>
                                <p class="fs-5 text-white mb-4 pb-2">des cours interactifs, des ressources pédagogiques de pointe et bien plus encore.</p>
                                <a href="{{ path('app_registerChoices') }}" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Rejoignez nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


   


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="img/about.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">A propos de nous</h6>
                    <h1 class="mb-4">Bienvenue a ESPRIT-eLEARN</h1>
                    <p class="mb-4">"Plongez dans l'avenir de l'éducation" Chez ESPRIT E-learn, nous avons pour mission de révolutionner votre manière d'apprendre.</p>
                    <p class="mb-4"> Notre plateforme offre une expérience d'apprentissage dynamique et immersive, conçue pour répondre aux exigences du monde moderne. Des instructeurs qualifiés aux cours en ligne interactifs et aux certificats internationalement reconnus, nous sommes là pour vous donner les moyens de réussir dans votre parcours éducatif.</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Enseignants Qualifiés</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Cours en Ligne</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Certificat International</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


     <!-- Classes List Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Classes</h6>
                <h1 class="mb-5">Available Classes</h1>
            </div>
            <div class="row">
                {% for classe in classes %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="class-card card h-100 shadow-sm">

                            <div class="card-body">
                                <h5 class="card-title">{{ classe.nom }}</h5>
                                <p class="card-text">Nombre des etudiants: {{ classe.nombre }}</p>
                                <p class="card-text">Niveau: {{ classe.niveau }}</p>
                                <p class="card-text">Filiere: {{ classe.filiere }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('class_presences', {'id': classe.id}) }}" class="btn btn-primary">Afficher liste des présences</a>                                           
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>No classes found.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Classes List End -->

  


    
         
                  
                  
                    
                 


    
             
           
        


    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
                <h1 class="mb-5">Our Students Say!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
        

{% endblock %}
