{% extends 'base.html.twig' %}

{% block title %}Presence index{% endblock %}

{% block body %}
    <h1>Presence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idpresence</th>
                <th>Date</th>
                <th>Seance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presence in presences %}
            <tr>
                <td>{{ presence.idpresence }}</td>
                <td>{{ presence.date }}</td>
                <td>{{ presence.seance }}</td>
                <td>
                    <a href="{{ path('app_presence_show', {'idpresence': presence.idpresence}) }}">show</a>
                    <a href="{{ path('app_presence_edit', {'idpresence': presence.idpresence}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_presence_new') }}">Create new</a>
{% endblock %}
