{{ form_start(form) }}
    {{ form_row(form.premierdate) }}
    {{ form_row(form.dernierdate) }}
    {{ form_row(form.salle) }}
    {{ form_row(form.classe) }}


  <br>
    <button type="submit">enregistrer</button>
{{ form_end(form) }}
