{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ asset('css/social-share.css') }}">
    {{ parent() }}
    <style>
        .row {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px; /* Pour compenser les marges négatives des colonnes */
        }

        .col-md-4 {
            padding: 0 15px; /* Ajoute une marge aux colonnes */
        }

        .card {
            display: flex;
            flex-direction: column;
            height: 100%; /* Assurez-vous que la hauteur de la carte est à 100% de son conteneur */
        }

        .card-body {
            flex-grow: 1; /* Permet au contenu de s'étirer pour remplir l'espace disponible */
        }

        .red-title {
            color: red;
        }
    </style>
{% endblock %}

{% block body %}
<br>
    <h1>Liste des Evenements</h1>

    <table align="center">
    <tr>
     <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title red-title"><strong> {{evenement.nomevenement }}</strong> </h5>
                        <p class="card-text"><strong>{{ evenement.dateevenement ? evenement.dateevenement|date('Y-m-d') : '' }}</strong> </p>
                        <p class="card-text"><strong>{{ evenement.lieuevenement }} </strong> </p>
                        <p class="card-text"><strong>{{ evenement.prixevenement }}</strong> </p>
                        <p class="card-text"><strong>Organisé par: </strong> {{ evenement.club.nomclub }}</p>
                    </div>
                            </div>
            </div>
            <div id="share-buttons">

  <!-- Facebook -->
  <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook"></i></a>
  
  <!-- Twitter -->
  <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
  
  <!-- LinkedIn -->
  <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
</div>
            <a href="{{ path('app_evenement_payment', {'idevenement': evenement.idevenement}) }}" class="btn btn-primary">Payer maintenant</a>
    </div>
    </tr>
    <tr>
    <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">                     
                        {% set addressGPS = evenement.lieuevenement|replace({' ': '+'}) %}
                        <iframe src="https://maps.google.com/maps?&q={{ addressGPS }}&output=embed" width="100%" height="300"></iframe>
                    </div>
                </div>
            </div>
    </div>
    </tr>
<script>
    const link = encodeURI(window.location.href);
    const msg = encodeURIComponent('Salut, Je partage avec vous cet evenement. Rejoignez-nous !');
    const title = encodeURIComponent(document.querySelector('title').textContent);

    // Facebook Share URL
    const fb = document.querySelector('.facebook');
    fb.href = `https://www.facebook.com/share.php?u=${link}`;

    // Twitter Share URL
    const twitter = document.querySelector('.twitter');
    twitter.href = `https://twitter.com/share?url=${link}&text=${msg}&hashtags=javascript,programming`;

    // LinkedIn Share URL
    const linkedIn = document.querySelector('.linkedin');
    linkedIn.href = `https://www.linkedin.com/sharing/share-offsite/?url=${link}`;
</script>
        
    
{% endblock %}
