{% extends 'back_home/form.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="{{ path('app_plandetude_index') }}" class="">
                            <h3 class="text-primary">Ajouter Plan d'Étude</h3>
                        </a>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label text-danger" for="{{ form.nomProgramme.vars.id }}">Nom Programme</label>
                        {{ form_widget(form.nomProgramme, {'attr': {'class': 'form-control bg-dark border-0', 'autocomplete': 'off'}}) }}
                        {% if form_errors(form.nomProgramme)|length > 0 %}
                            <div class="error-message">{{ form_errors(form.nomProgramme) }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label text-danger" for="{{ form.niveau.vars.id }}">Niveau</label>
                        {{ form_widget(form.niveau, {'attr': {'class': 'form-control bg-dark border-0', 'autocomplete': 'off'}}) }}
                        {% if form_errors(form.niveau)|length > 0 %}
                            <div class="error-message">{{ form_errors(form.niveau) }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label text-danger" for="{{ form.dureeTotal.vars.id }}">Durée Totale</label>
                        {{ form_widget(form.dureeTotal, {'attr': {'class': 'form-control bg-dark border-0', 'autocomplete': 'off'}}) }}
                        {% if form_errors(form.dureeTotal)|length > 0 %}
                            <div class="error-message">{{ form_errors(form.dureeTotal) }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label text-danger" for="{{ form.creditsRequisTotal.vars.id }}">Crédits Requis Total</label>
                        {{ form_widget(form.creditsRequisTotal, {'attr': {'class': 'form-control bg-dark border-0', 'autocomplete': 'off'}}) }}
                        {% if form_errors(form.creditsRequisTotal)|length > 0 %}
                            <div class="error-message">{{ form_errors(form.creditsRequisTotal) }}</div>
                        {% endif %}
                    </div>
                    <!-- Ajoutez d'autres champs de formulaire si nécessaire -->
                    <div class="text-center mb-0">
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">{{ button_label|default('Save') }}</button>
                        <a href="{{ path('app_plandetude_index') }}" class="btn btn-secondary">Annuler</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
