{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

{# Affichage des erreurs globales du formulaire #}
{% if form_errors(form) %}
    <div class="alert alert-danger">
        {{ form_errors(form) }}
    </div>
{% endif %}

<div>
    {{ form_label(form.nomClasse) }} {# Affiche le label #}
    <div style="height: 10px;"></div> {# Ajoute de l'espace vertical #}
    {{ form_widget(form.nomClasse) }} {# Affiche le champ de formulaire #}
</div><br> 
<div>
    {{ form_label(form.filiere) }}
    <div style="height: 10px;"></div>
    {{ form_widget(form.filiere) }}
</div><br> 
<div>
    {{ form_label(form.nbreEtudi) }}
    <div style="height: 10px;"></div>
    {{ form_widget(form.nbreEtudi) }}
</div><br> 
<div>
    {{ form_label(form.niveaux) }}
    <div style="height: 10px;"></div>
    {{ form_widget(form.niveaux) }}
</div><br> 
<button type="submit" class="btn btn-primary">Enregistrer</button> 
{{ form_end(form) }}
