{% extends 'baseback.html.twig' %}

{% block title %}Les salles{% endblock %}

{% block body %}
    <h1>Salles</h1>

    <form method="GET" action="{{ path('app_salle_index') }}" style ="margin-left:20px;">
        <label for="bloc">Filterer par Bloc: </label>
        <select name="bloc" id="bloc">
            <option value="">Tout</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="I">I</option>
            <option value="J">J</option>
            <option value="M">M</option>
        </select>

        <label for="etage">Filterer par Etage:</label>
        <select name="etage" id="etage">
            <option value="">Tout</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>

        <button type="submit">Filtrer</button>
    </form>

    <table class="table" style ="margin-left:20px;">
        <thead>
            <tr>
                <th>Bloc</th>
                <th>Numero Salle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.bloc }}</td>
                <td>{{ salle.numeroSalle }}</td> 
               <td style="display: flex; align-items: center;">
    <a href="{{ path('app_salle_edit', {'salleId': salle.salleId}) }}">Modifier</a>
    <div style="margin-left: 10px;">{{ include('salle/_delete_form.html.twig') }}</div>
</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td> <!-- Colspan adjusted to match the number of columns -->
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_salle_new') }}" style ="margin-left:20px;">Créer un nouveau</a>
{% endblock %}



