{% extends 'baseback.html.twig' %}

{% block title %}Salle index{% endblock %}

{% block body %}
    <h1>Salle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Bloc</th>
                <th>Numero Salle</th>
                <th>SalleId</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.bloc }}</td> <!-- Displaying 'bloc' attribute -->
                <td>{{ salle.numeroSalle }}</td> <!-- Displaying 'numeroSalle' attribute -->
                <td>{{ salle.salleId }}</td> <!-- Displaying 'salleId' attribute -->
                <td>
                    <a href="{{ path('app_salle_show', {'salleid': salle.salleId}) }}">show</a>
                    <a href="{{ path('app_salle_edit', {'salleid': salle.salleId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td> <!-- Colspan adjusted to match the number of columns -->
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_salle_new') }}">Create new</a>
{% endblock %}
