{% extends 'baseback.html.twig' %}

{% block bodyBack %}
    <h1>Liste des Clubs</h1>
    <table class="table">
        <thead>
            <tr>
    <td> Id Club </td>
    <td> Nom Club </td>
    <td> Date Fondation </td>
    <td> Type d Activite </td>
    <td> Description </td>
    <td> Nombre de membres </td>
    <td> Activite  </td>                
    <th>          </th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
    <td> {{club.idclub}} </td>
    <td> {{club.nomclub|upper}} </td>
    <td>{{ club.datefondation ? club.datefondation|date('Y-m-d') : '' }}</td>
    <td> {{club.typeactivite}} </td>
    <td> {{club.description}} </td>
    <td> {{club.nbmembres}} </td>
    <td>{{ club.active ? 'Active' : 'Inactive' }}</td>
                <td>
                    <a href="{{ path('app_club_delete', {'idclub': club.idclub}) }}">Supprimer</a>
                    <a href="{{ path('app_club_edit', {'idclub': club.idclub}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_club_new') }}">Ajouter Club</a>
{% endblock %}
