{% extends 'baseback.html.twig' %}

{% block title %}Liste des étudiants{% endblock %}

{% block body %}
    <h1>Liste des étudiants</h1>
    <form action="{{ path('app_user_index') }}" method="GET" class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Rechercher par nom" name="search">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
            </div>
        </div>
    </form>
    
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Nom</th>
                <th scope="col">Téléphone</th>
                <!-- Ajoutez plus de colonnes si nécessaire -->
            </tr>
        </thead>
        <tbody>
            {% for etudiant in etudiants %}
                <tr>
                    <td>{{ etudiant.id }}</td>
                    <td>{{ etudiant.email }}</td>
                    <td>{{ etudiant.nom }}</td>
                    <td>{{ etudiant.tel }}</td>
                    <!-- Ajoutez plus de colonnes si nécessaire -->
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun étudiant trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
